.LoginFormInput{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.5rem;
    margin: 5px;
    width: 100%;
}

.LoginFormButton {
    background-color: orangered;
    padding: 10px;
    margin: 10px;
    width: 150px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 15px;
}

.LoginFormButton:hover {
    background-color: black;
    color: white;
}